joblib==1.2.0
streamlit==1.24.1
pip==23.2
pandas==2.0.3
numpy==1.24.2
pickleshare==0.7.5
scikit-learn==1.0.2
scikit-learn-intelex==2021.6.0
scipy==1.9.1
scikit-image==0.19.2
click==8.1.3


